head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='edge,chrome=1')
    title #{pageTitle}
    meta(name='description', content='#{pageDesc}')
    meta(name='viewport', content='width=640')

    // Schema.org markup for Google+
    meta(itemprop="name" content="#{pageTitle}")
    meta(itemprop="description" content="#{pageDesc}")
    meta(itemprop="image" content="#{pageCover}")

    // og
    meta(property="og:title" content="#{pageTitle}")
    meta(property="og:description" content="#{pageDesc}")
    meta(property="og:type" content="article")
    meta(property="og:image" content="#{pageCover}")
    meta(property="og:image:width" content="#{pageCover}")
    meta(property="og:image:height " content="#{pageCover}")

    meta(property='fb:pages', content='138654461200')
    meta(property='fb:pages', content='1537360033181144')
    meta(property='fb:pages', content='654250351375124')
    meta(property='fb:pages', content='654250351375124')
    meta(property='fb:pages', content='307869372947150')


    //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel="Shortcut Icon" type="images/x-icon" href="./images/favicon.png")
    link(rel='stylesheet', href='css/main.css')

    <!--CDN link for  TweenMax-->
    script(src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.1/mobile-detect.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
    script(src="https://code.createjs.com/preloadjs-0.6.1.min.js")
    //- script(type="text/javascript" src="//script.crazyegg.com/pages/scripts/0032/0861.js" async="async")
    script(type='text/javascript').
        var md = new MobileDetect(window.navigator.userAgent);
        var IsMobile = md.phone() != null || md.tablet() != null  || window.innerWidth <= 640;
        // Initialize Firebase
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBOr4h4h97xUQ0UjtYP7CVJt12V8htNAzs",
            authDomain: "ch-2018-uni-bread.firebaseapp.com",
            databaseURL: "https://ch-2018-uni-bread.firebaseio.com",
            projectId: "ch-2018-uni-bread",
            storageBucket: "ch-2018-uni-bread.appspot.com",
            messagingSenderId: "569018786142"
        };
        var _firebase = firebase.initializeApp(config);
    
    script(src='https://apis.google.com/js/platform.js', async='', defer='').
        window.___gcfg = {
            lang: 'zh-CN'
        };
    // Google Tag Manager
    noscript
        iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MCMN77', height='0', width='0', style='display:none;visibility:hidden')
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MCMN77');
    // End Google Tag Manager
    // Facebook Pixel Code
    script.
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '153319238642910');
        fbq('track', 'PageView');
    noscript
        img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=153319238642910&ev=PageView&noscript=1')
    // End Facebook Pixel Code
    //
    script(type='text/javascript').
        var _sf_startpt=(new Date()).getTime()

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-113422499-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-113422499-1');




