section.key.key1
    div.key__hd
    div.key__bd
        div.l-container
            section.key__content
                h1.key__title 安心關鍵 1 一張圖看懂 麵包保鮮關鍵 保鮮術？兼顧安心美味的製程秘密！
                div.key__flow
                    div.key__flow__main
                        div.key__flow__main-wrap
                            div.key__flow__bread.key__flow__bread--1
                            div.key__flow__box.key__flow__box--1
                            div.key__flow__bread.key__flow__bread--2
                            div.key__flow__box.key__flow__box--2
                            div.key__flow__line
                            div.key__flow__bread.key__flow__bread--3
                    div.key__anis
                        div.key__ani.key__ani--1
                        div.key__ani.key__ani--2
                        div.key__ani.key__ani--3
                        div.key__ani.key__ani--4
                        div.key__ani.key__ani--5
                    div.key__items(ref="items")
                        - var title0 = "麵包專業講解：鮮度≠添加防腐劑";
                        - var content0 = "麵包的鮮度取決於微生物生長速度，和製程及保存方式息息相關，控制環境中的溫度、濕度和落菌數及麵包的pH值和水分，麵包不需要防腐劑就能保持鮮度，放置3-4天都維持最佳風味。";
                        
                        - var title1 = "專業細節1 : 落菌數隨時監控";
                        - var content1 = "麵包師傅進到工廠內，要經過一系列的清潔除塵，空間上也有防蟲的防護層，確保生產線上最低的落菌數！";
                        
                        - var title2 = "專業細節2 : 麵糰pH值";
                        - var content2= "低溫熟成法讓麵包的酸鹼值不利雜菌生長，不需多添加防腐劑就能維持鮮度。";
                        
                        - var title3= "專業細節3 : 製程各環節溫度控管";
                        - var content3 = "烘焙時需達到中心溫度到95℃完全熟化、包裝前又要完全降溫....麵包的不同階段都有管控溫度。";
                        
                        - var title4 = "專業細節4 : 全程溫濕度監控";
                        - var content4 = "環境的溫、濕度會影響細菌的生長，專業工廠會全程監控環境溫、濕度，維持在一定標準之下，以增加賞味期限。";

                        - var title5 = "專業細節5 : 陳列時包裝保護";
                        - var content5 = "相較於一般手工烘焙坊的開放性陳列，會受到空氣中的灰塵和落菌，包裝麵包的保鮮期關鍵就在於密封的包裝能阻絕外在環境的影響！";
                        
                        
                        - var popTitles = [ title0, title1, title2, title3, title4, title5];
                        - var contentItems = [content0,content1,content2,content3,content4,content5];
                        
                        - var order = 0;
                        for title in popTitles
                            div(class="key__item key__item--#{++order}" v-on:click="showPop($event, #{order})")
                                div.ani-wrap
                                    span.title.hide #{title}
                                    span.content.hide #{contentItems[order-1]}
                                    span.pc.gtm-event(data-category="bread-click" data-action="popup-click" data-label='安心關鍵 1 :'+title)
                                    span.mb.gtm-event(data-category="bread-click" data-action="popup-click" data-label='安心關鍵 1 :'+title)
                                    div.icon.gtm-event(data-category="bread-click" data-action="popup-click" data-label='安心關鍵 1 :'+title)
                div.key__end
                    div.key__share
                        - var shareUrl = 'http://topic.commonhealth.com.tw/uni-bread/key.1.html';
                        - var shareUrlDecode = 'http%3A%2F%2F#topic.commonhealth.com.tw%2Funi-bread%2Fkey.1.html';
                        - var shareText = "康健x統一麵包 安心關鍵 1 一張圖看懂 麵包保鮮關鍵 保鮮術？兼顧安心美味的製程秘密！"
                        div.key__share__item.square_fb
                            //todo: data-href and href need absolute href.
                            div.fb-share-button(data-href=shareUrl, data-layout='button', data-size='small', data-mobile-iframe='true')
                                a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F'+{shareUrlDecode}+'&src=sdkpreparse') 分享
                        div.key__share__item.square_line
                            div.line-it-button(data-lang='zh_Hant', data-type='share-c', style='display: none;' data-url=shareUrl)
                        div.key__share__item.square_tw
                            //todo: url, text
                            a.twitter-share-button(href='https://twitter.com/intent/tweet?text='+shareText+'&url='+shareUrl, data-size='large')
                        div.key__share__item.square_gl
                            div.g-plus(data-action='share', data-width='120', data-height='24', data-href=shareUrl)
                a.index__link-test.gtm-event(href="http://topic.commonhealth.com.tw/uni-bread-test/test.html"  data-category="bread-click" data-action="floating-click" data-label="大會考去試試")
                    span.btn.gtm-event(data-category="bread-click" data-action="floating-click" data-label="大會考去試試") 去試試
                        span.icon
    div.key__ft
        div.l-container
            div.key__end__note
                div.key__end__bear
            div.key__end__ctrls
                a.next(href="key.2.html") 下個關鍵：麵包一致的品質