doctype
html(itemscope,itemtype="http://schema.org/Article",ng-app="markup" debug="false")
    //page default Information
    block pageInfo
        - var pageTitle = ""
        - var pageDesc = ""
        - var pageCover = "";
    //html head
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='edge,chrome=1')
        title #{pageTitle}
        meta(name='description', content='#{pageDesc}')
        meta(name='viewport', content='width=640')

        // Schema.org markup for Google+
        meta(itemprop="name" content="#{pageTitle}")
        meta(itemprop="description" content="#{pageDesc}")
        meta(itemprop="image" content="#{pageCover}")

        // og
        meta(property="og:title" content="#{pageTitle}")
        meta(property="og:description" content="#{pageDesc}")
        meta(property="og:type" content="article")
        meta(property="og:image" content="#{pageCover}")
        meta(property="og:image:width" content="#{pageCover}")
        meta(property="og:image:height " content="#{pageCover}")

        meta(property='fb:pages', content='138654461200')
        meta(property='fb:pages', content='1537360033181144')
        meta(property='fb:pages', content='654250351375124')
        meta(property='fb:pages', content='654250351375124')
        meta(property='fb:pages', content='307869372947150')
        //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
        link(rel="Shortcut Icon" type="images/x-icon" href="./images/favicon.png")
    
    //html body
    body
        script.
            location.replace(`./test.html`);
        block page_main